@tailwind base;

.container {
  transition: all 0.15s ease-in-out;
}

h1 {
  @apply font-display;
  @apply text-xl;
}

@tailwind components;

@tailwind utilities;

.bg-gradient {
  background: linear-gradient(120deg, #f78b4a 0%, #dc619e 100%);
}

html,
body,
#__next {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  @apply font-sans text-gray-900;
}

#root {
  display: block;
  justify-content: start;
  text-align: left;
  flex: 1;
  @apply font-sans text-gray-900;
  @apply p-4;
}
