@tailwind base;

.container {
  transition: all 0.15s ease-in-out;
}

h1 {
  @apply font-display;
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

@tailwind components;

@tailwind utilities;

html,
body,
#__next {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}