@tailwind base;

.container {
  transition: all 0.15s ease-in-out;
}

h1 {
  @apply font-display;
  @apply text-xl;
}

@tailwind components;

@tailwind utilities;

.bg-gradient {
  background: linear-gradient(120deg, #f78b4a 0%, #dc619e 100%);
  background: linear-gradient(theme(colors.red.400) 0%, theme(colors.red.500));
}

.bg-gradient-reverse {
  /* background: linear-gradient(120deg, #f78b4a 0%, #dc619e 100%) */

  background: linear-gradient(theme(colors.red.500) 0%, theme(colors.red.400));
}

.up-half {
  transform: translateY(-50%);
}

.link {
  background: linear-gradient(
    0deg,
    theme(colors.teal.100) 50%,
    transparent 50%
  );
  @apply text-teal-900 font-medium;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-fastest {
  transition-duration: 75ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.transition-slow {
  transition-duration: 300ms;
}
.transition-slower {
  transition-duration: 500ms;
}
.transition-slowest {
  transition-duration: 700ms;
}

.transition-all {
  transition-property: all;
}
.transition-opacity {
  transition-property: opacity;
}
.transition-transform {
  transition-property: transform;
}

.focus-visible.focus-visible\:underline {
  text-decoration: underline;
}

.transition {
  transition: all 75ms;
}

html,
body,
#__next {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  @apply font-sans text-gray-900;
}

#root {
  display: block;
  justify-content: start;
  text-align: left;
  flex: 1;
  @apply font-sans text-gray-900;
  @apply p-4;
}
